In [2]:
import sqlite3 as sql
import pandas as pd
#Evaluate Database's consistency
conn = sql.connect("Assignment2.db")

In [3]:
df = pd.read_sql_query("SELECT first_name,last_name, department_id FROM researchers;", conn)
print("\n",df)

   first_name  last_name  department_id
0     Javier  Rodriguez              1
1     Nicole     Garcia              1
2      David                         2
3     Sierra  Casnettie              1